LANGSMITH_API_KEY=OPTIONAL_LANGSMITH_API_KEY
GOOGLE_API_KEY=YOUR_GEMINI_API_KEY
GOOGLE_APPLICATION_CREDENTIALS=PATH_OF_CREDENTIAL
HULU_EMAIL=YOUR_HULU_EMAIL
HULU_PASSWORD=YOUR_HULU_PASSWORD
HULU_PROFILE_NAME=YOUR_HULU_PROFILE_NAME
